<div>Main Body</div>
<!-- String Interpolation -->
<h1>{{greet}}</h1>
<h3>Today is {{today}}</h3>

<!-- ngFor structural directive gives us ability to iterate over a collection-->
<div *ngFor="let prod of products">
    <h2>{{prod}}</h2>
</div>

<!-- ngIf is another structural directive -->
<div *ngIf="show else notShow">
    We are showing this snippet of html
</div>
<ng-template #notShow>
    <div>This appears when show is false</div>
</ng-template>
Show is : {{show}}

<!-- Event binding in angular -->
<button (click)="toggleShow()">Toggle Show</button>

<div>
    <!-- Attribute binding -->
    <button [disabled]="formInvalid">Submit</button>
</div>


<form #numberofcats>
    <input (change)="showFormControl()" type="number" name="num-cats" id="num-cats" [formControl]="numofCats">
    <button [disabled]="numofCats.invalid" (click)="makeHttpRequest(numofCats.value)">Get me a cat</button>
    <span *ngIf="numofCats.invalid">The number has to be between 1 and 10</span>
</form>
<div *ngFor="let cat of cats">
    <!-- Pipe is used to transform data to different format -->
    {{cat | json}}
    <img [src]="cat.url" alt="cat image">
</div>